{% extends 'layout.html' %}

{% block title %}
      <title>这是班级页面</title>
{% endblock %}

{% block content %}
    <div style="text-align: center">
    <h3>{{ title }}</h3>
    <form action="room_add.html" method="get">
    <input type="bottom" value="添加班级">
    </form>
    </div>



<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover table-bordered table-condensed">
      <thead style="background-color: #4cae4c">
        <tr>
          <th>序号</th>
          <th>城市</th>
          <th>地区</th>
          <th>教室名</th>
        </tr>
      </thead>
      <tbody>
      {% for room in  all_room %}
        <tr>
          <td>{{ room.id }}</td>
          <td>{{ room.city }}</td>
          <td>{{ room.area }}</td>
          <td>{{ room.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

